@media (max-width: 1024px) {
  .hero-1,
  .hero-2 {
    padding: 5rem 2rem;
  }

  .hero-content p,
  .hero-content {
    font-size: 15px;
  }

  .val {
    font-size: 40px;
  }

  .info-button {
    padding: 5px 80px;
  }

  .section-title {
    font-size: 1.3rem;
  }

  .section-title::after {
    width: 100px;
  }

  .slider-container {
    height: 400px;
  }

  .slide-content {
    left: 30px;
    bottom: 30px;
    max-width: 400px;
    padding: 20px;
  }

  .slide h2 {
    font-size: 2rem;
  }

  .slider-prev,
  .slider-next {
    display: none;
  }
}


@media (max-width: 768px) {
  .valorant-header {
    flex-direction: column;
    padding: 1rem;
  }

  nav ul {
    margin-top: 1rem;
    gap: 1rem;
  }

  .detail-card {
    max-width: 200px;
  }

  .valorant-slider {
    margin: 10px auto;
    border: none;
    box-shadow: none;
  }

  .slider-container {
    height: 400px;
  }

  .slide-content {
    left: 15px;
    bottom: 15px;
    right: 15px;
    max-width: 100%;
    padding: 15px;
  }

  .slide h2 {
    font-size: 1.8rem;
  }

  .slide p {
    font-size: 0.8rem;
  }

  .slider-nav {
    bottom: 5px;
  }

  .slider-prev,
  .slider-next {
    display: none;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}


@media (max-width: 480px) {
  .hero-1,
  .hero-2 {
    flex-direction: column;
    padding: 3rem 1rem;
  }

  .hero-content h2,
  .hero-content-2 h2 {
    font-size: 1.5rem;
  }

  .cta-button {
    padding: 10px 15%;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .tab-btn {
    font-size: 10px;
  }

  .btn-primary {
    font-size: 10px;
  }

  .hero-image {
    display: none;
  }

  .slider-container {
    height: 250px;
  }

  .slide h2 {
    font-size: 1rem;
  }

  .slider-prev,
  .slider-next {
    display: none;
  }

}


@media (min-width: 1025px) {
  .nav-desktop {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  .desktop-play-button {
    display: block;
  }

  .mobile-play-button {
    display: none;
  }

  .nav-desktop ul {
    display: flex;
    list-style: none;
    gap: 5px;
  }

  nav a {
    text-decoration: none;
  }

  .nav-desktop a {
    font-size: 12px;
    color: var(--valorant-light);
    text-transform: uppercase;
    margin-left: 5px;
    padding: 8px 20px;
    letter-spacing: 2px;
  }

  .nav-desktop a:hover {
    background-color: #333;
    color: var(--valorant-red);
    text-decoration: underline solid var(--valorant-red) 5px;
    text-underline-offset: 27px;
    border-radius: 5px;
  }
}

@media (max-width: 1024px) {
  .footer-links {
    margin-right: 15px;
    gap: 25px;
    margin-left: 15px;
  }

  .footer-links-column {
    min-width: 170px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .footer-links {
    margin-right: 5px;
    gap: 15px;
    margin-left: 5px;
  }

  .footer-links-column {
    min-width: 130px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .footer-links {
    gap: 10px;
  }

  .footer-legal {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    justify-content: flex-start;
    gap: 0;
  }

  .event-card {
    flex: 0 0 85%;
    margin: 0 10px;
    scroll-snap-align: start;
  }

  .cards-container::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .event-slider-controls {
    display: flex;
  }
}



@media (min-width: 1025px) {
  .missions-container {
      grid-template-columns: 1fr 1fr;
  }
  
  .calendar-grid {
      grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 768px) {
  .user-card {
      flex-direction: column;
      text-align: center;
  }
  
  .user-stats {
      justify-content: center;
  }
  
  .calendar-grid {
      grid-template-columns: repeat(3, 1fr);
  }
  
  .missions-title {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
  }
  
  .refresh-time {
      margin-left: 0;
  }
}

@media (max-width: 480px) {
  .calendar-grid {
      grid-template-columns: repeat(2, 1fr);
  }
  
  .mission-item {
      flex-direction: column;
      align-items: flex-start;
  }
  
  .mission-btn {
      margin-left: 0;
      margin-top: 15px;
      width: 100%;
  }
}



@media (max-width: 480px) {
  .val-about-game {
      padding: 10px;
  }
  
  .val-about-game__header {
      margin-bottom: 25px;
  }
  
  .val-about-game__section {
      margin-bottom: 20px;
      padding: 15px;
  }
  
  .val-about-game__features {
      gap: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .val-about-game {
      padding: 15px;
  }
}


@media (max-height: 500px) and (orientation: landscape) {
  .val-about-game__header {
      margin-bottom: 20px;
  }
  
  .val-about-game__section {
      padding: 15px;
      margin-bottom: 15px;
  }
}